h1 {
	font: bold 27px 'Allerta', sans-serif;
	text-align:center;
	color:#777777;
	text-shadow: 0 1px #e7e7e7;
}

h3.footer {
	font: bold 25px 'Allerta', sans-serif;
	text-align:center;
	color:#777777;
	text-shadow: 0 1px #e7e7e7;
}
h3.title{
	font: bold 16px 'Allerta', sans-serif;
	text-align:center;
	color:#777777;
	text-shadow: 0 1px #e7e7e7;
}

